@charset "UTF-8";

body{

    background: #B0C4DE;
}
.asterisco{

    color: red;
}

#botaoPesquisar{

    position: absolute;
    top: 25px;
}

#radioButton{

    position: relative;
    top: 30px;
    left: 5px;
    font-size: 15pt;
}

#botao-Procurar{

    background: url("../Imagens/lupa.png") no-repeat;
    height: 42px;
    width: 37px;
    position: relative;
    top: 30px;
}

#botao-salvar{

    background: url("../imagens/botao_salvar.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-novo-cadastro{

    background: url("../imagens/ADD.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-procurar-animais{

    background: url("../imagens/procurar_pet_menor.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-voltar{

    background: url("../imagens/botao_voltar.png") no-repeat;
    height: 54px;
    width: 54px;
}

#image-holder{

    border: 1px black solid;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 90%;
}

#fileUpload{

    position: absolute;
    left: 90%;
    top: 160%;
}

#titulo_Fieldset{

    background: #4B0082;
    color: #C0C0C0;
}

#tituloCampoSexo{

    position: relative;
    left: 550px;;
}
