@charset "UTF-8";

body{

    background-color: cadetblue;
}

header{

    text-align: center;
}

h1{

    color: white;
    margin-top: 10%;
}

/*Tamanho do letra do label  */
.tamanho{

    font-size: 20pt;
    font-weight: 700;
}


/*Posição dos inputs*/

.tamanhoCampo{

    height: 20px;
    top: 50px;
    width: 50%;
}

form{

    color: white;
    margin-top: 50px;
}

form input#idSenha{

    margin-top: 20px;
}

.botao{
    position: absolute;
    left: 73%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px;
    background-color: #888888; 
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px whitesmoke;
    margin-top: 10px;
}

.alert{

    background: red;
}
