@charset "UTF-8";

body{

    background: #B0C4DE;
}
.asterisco{

    color: red;
}

#image-holder{

    border: 1px black solid;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 90%;
}

#fileUpload{

    position: absolute;
    left: 90%;
    top: 160%;
}

#titulo_Fieldset{

    background: #4B0082;
    color: #C0C0C0;
}

#botao-salvar{

    background: url("../imagens/botao_salvar.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-novo-cadastro{

    background: url("../imagens/ADD.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-procurar-clientes{

    background: url("../imagens/botao_pesquisar.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-voltar{

    background: url("../imagens/botao_voltar.png") no-repeat;
    height: 54px;
    width: 54px;
}

/*Animação para aparecer e esconder a mensagem de cadastrado com sucesso */
@keyframes hide {
    from { opacity: 1 }
    to   { opacity: 0 }
}

#temporario{

    position: absolute;
    top: 45%;
    left: 40%;
    z-index: 10;
    animation: hide 2s 2s forwards;
}
