@charset "UTF-8";

body{

    background: #B0C4DE;
}
.asterisco{

    color: red;
}

#botaoPesquisar{

    position: absolute;
    top: 25px;
}

#radioButton{

    position: relative;
    top: 30px;
    left: 5px;
    font-size: 15pt;
}

.botao-Procurar{

    background: url("../Imagens/lupa.png") no-repeat;
    height: 42px;
    width: 37px;
    position: relative;
    top: 30px;
}

#botao-salvar{

    background: url("../imagens/botao_salvar.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-novo-cadastro{

    background: url("../imagens/ADD.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-procurar-animais{

    background: url("../imagens/procurar_pet_menor.png") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-voltar{

    background: url("../imagens/botao_voltar.png") no-repeat;
    height: 54px;
    width: 54px;
}
#botao-editar{
    background: url("../Imagens/update-animal.jpeg") no-repeat;
    height: 54px;
    width: 54px;
}

#botao-delete{
    background: url("../Imagens/delete-animal.jpeg") no-repeat;
    height: 54px;
    width: 54px;
}

#image-holder{

    border: 1px black solid;
    width: 250px;
    height: 250px;
    position: absolute;
    left: 90%;
}

#fileUpload{

    position: absolute;
    left: 90%;
    top: 160%;
}

#titulo_Fieldset{

    background: #4B0082;
    color: #C0C0C0;
}

#tituloCampoSexo{

    position: absolute;
    top: 0.5%;
    left: 102%;
}

#espaco{
    padding: 10px;
}

.colorir{
    background: #dee2e6;
}

/*Animação para aparecer e esconder a mensagem de cadastrado com sucesso */
@keyframes hide {
    from { opacity: 1 }
    to   { opacity: 0 }
}

.temporario{

    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 10;
    animation: hide 2s 2s forwards;
}
