@charset "UTF-8";

/*Defini o coloquei a margin e padding 0 para retirar o espaço interno e externo que vem por padrao de cada navegador*/
body{

	margin: 0px;
	padding: 0px;
}

/*Defini o menu e o sub-menu com espaço interno e externo 0, para deixar o menu colado na parte de cima do navegador, tirei as bolinhas laterais do <li> e defini uma cor de fundo  */
.menu,
.sub-menu{

	margin: 0px;
	padding: 0px;
	list-style: none;
	background: #000;

}

.clearfix:after{

	content: '.';
	display: block;
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0pt;
	visibility: hidden;
	overflow: hidden;
}

/*Tirei o sublinhado da tag <a>, deixei ele em blocos, dei um espaço interno,coloquei uma cor, defini uma fonte, defini o tamanho da fonte e deixei o texto em negrito*/

.menu a{

	text-decoration: none;
	display: block;
	padding: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: 700;
}

/*Deixei os <li> do menu com position relativos*/

.menu li{

	position: relative;
}

/*Deixei somente o primeiro <li>, com uma flutuação na esquerda e com fundo preto*/

.menu > li{

	float: left;
	background: black;
}

/*Quando colocar o mouse por cima vai acontecer o efeito do fundo mudar de cor, porem, so vai acontecer com o primeiro <li> */

.menu > li:hover{

	background: #444;
}

/*Quando colocar o mouse por cima, o sub-menu vai ficar em bloco, porem isso so vai acontecer com o primeiro sub-menu*/
.menu > li:hover > .sub-menu{

	display: block;
}

/*Deixei o sub-menu com posição absoluta, com o lugar minima, um fundo e o display none serve para esconder os sub-menus */
.sub-menu{

	position: absolute;
	min-width: 270px;
	background: #6D6D6D;
	display: none;
}
/*Defini o comprimento de cada <li> do sub-menu para ficarem esticamento iguais, pq dependendo do tamanho da palavra que ficava no campo <a> ficava uma background muito diferente de um <li> para outro <li>*/
#comprimento-box-caixa{

	min-width: 120px;
}

#comprimento-box-dono{

	min-width: 211px;
}

#comprimento-box-animal{
	min-width: 228px;
}

#comprimento-box-produto{
	min-width: 235px;
}

#comprimento-box-servico{
	min-width: 233px;
}

#comprimento-box-consulta{
	min-width: 183px;
}
/*Deifini o logout na direita e com espaço interno da direita */
#logout{

	float: right;
	padding-right: 5px;
}

/*Coloquei uma posiçao absoluta, defini uma altura, coloquei a largura do tamanho da largura max da tela que deixada no width do body, coloquei uma imagem de fundo*/
div#parte-inferior-do-site{

    position: relative;
    height: 800px;
    width: 100%;
    top: 80px;
    background: url('../Imagens/tela_fundo.jpg') no-repeat center;
    background-size: cover; 
    

}
